<div class="container">
    <div class="card manage-card" style="margin-left: 200px; margin-right: 200px; background: transparent;">
        <div class="card-body">
            
            <div class="form-group">
                <label for="fullname"><strong>FULL NAME</strong></label>
                <input  ngModel type="text" name="fullname" #fullname="ngModel" required class="form-control" placeholder="Enter Your FullName........">
                <div class="alert alert-danger" *ngIf='fullname.invalid && fullname.touched'>
                    Full Name is required
                </div>
            </div>
            
            <div class="form-group">
                <label for="dob"><strong>BIRTHDATE</strong></label>
                <input ngModel type="date" name="dob" #dob="ngModel" required class="form-control" placeholder="Set Your Birthdate........">
                <div class="alert alert-danger" *ngIf='dob.invalid && dob.touched'>
                    Date Of Birth is required
                </div>
            </div>
            
            <div class="form-group">
                <label for="address"><strong>ADDRESS</strong></label>
                <input ngModel type="text" name="address" #address="ngModel" required class="form-control" placeholder="Enter Your Address........">
                <div class="alert alert-danger" *ngIf='address.invalid && address.touched'>
                    Address is required
                </div>
            </div>
           
            <div class="form-group">
                <label for="contact"><strong>CONTACT</strong></label>
                <input ngModel type="text" name="contact" #contact="ngModel" required class="form-control" placeholder="Enter Your contact........">
                <div class="alert alert-danger" *ngIf='contact.invalid && contact.touched'>
                    Contact is required
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="age"><strong>AGE</strong></label>
                        <input ngModel type="number" name="age" #age="ngModel" required class="form-control" placeholder="Enter Your Age........">
                        <div class="alert alert-danger" *ngIf='age.invalid && age.touched'>
                            Age is required
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="gender"><strong>GENDER</strong></label><br>
                        <input type="radio" ngModel name="gender" #gender="ngModel" value="Male"  style="margin-left: 50px;"  >Male
                        <input type="radio" ngModel name="gender" #gender="ngModel" value="Female"  style="margin-left: 50px;"  >Female
                        <div class="alert alert-danger" *ngIf='gender.invalid && gender.touched'>
                            Gender is required
                        </div>
                    </div>
                </div>
            </div>  
            
            <div class="form-group">
                <label for="graduation"><strong>GRADUATION DETAIL</strong></label>
                <input ngModel type="text" name="graduation" #graduation="ngModel" required class="form-control" placeholder="Enter Your Graduation........">
                <div class="alert alert-danger" *ngIf='graduation.invalid && graduation.touched'>
                    Graduation Detail is required
                </div>
            </div>    
            
            <div class="form-group">
                <label for="passout"><strong>PASSOUT DATE & YEAR</strong></label>
                <input ngModel type="date" name="passout" #passout="ngModel" required class="form-control" placeholder="Set Your Graduation Passoutyear........">
                <div class="alert alert-danger" *ngIf='passout.invalid && passout.touched'>
                    Passout Details is required
                </div>
            </div>   
            
            <div class="form-group">
                <label for="percentage"><strong>PERCENTAGE</strong></label>
                <input ngModel type="text" name="percentage" #percentage="ngModel" required class="form-control" placeholder="Enter Your Graduation Percentage........">
                <div class="alert alert-danger" *ngIf='percentage.invalid && percentage.touched'>
                    Percentage is required
                </div>
            </div>
            
            <div class="form-group">
                <label for="p_graduation"><strong>POST GRADUATION DETAIL</strong></label>
                <input ngModel type="text" name="p_graduation" #p_graduation="ngModel" required class="form-control" placeholder="Enter Your Post Graduation........">
                <div class="alert alert-danger" *ngIf='p_graduation.invalid && p_graduation.touched'>
                    Post Graduation is required
                </div>
            </div>
            
            <div class="form-group">
                <label for="resume"><strong>UPLOAD RESUME</strong></label>
                <input ngModel type="file" name="resume" #resume="ngModel" required class="form-control" placeholder="Upload Your Resume Here........">
                <div class="alert alert-danger" *ngIf='resume.invalid && resume.touched'>
                    Upload Resume is required
                </div>
            </div>
           
            <div class="form-group">
                <label for="photo"><strong>UPLOAD PHOTO</strong></label>
                <input ngModel type="file" name="photo" accept="image/png, image/jpeg, image/jpg" #photo="ngModel" required class="form-control" placeholder="Upload Your Photo Here........">
                <div class="alert alert-danger" *ngIf='photo.invalid && photo.touched'>
                    Upload Photo is required
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="form-group" style="text-align: center;">
                <input type="submit" value="submit" class="btn btn-success">
            </div>
        </div>
    </div>
</div>
